.menu {
    display: flex;
    padding: 10px 0 0 10px;
    width: 100%;
    overflow: hidden;
    height: 60px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: #121212;
}