@import "styles/variaveis";

.form__subscribe {
  display: block;

  .form__subscribe-inputs {
    display: block;
    width: 100%;

    .form__subscribe-container {
      min-inline-size: 0px;
      padding: 10px 0;
      margin: 0px;
      border: 0px;

      &--div {
        margin: 5px;
      }

      .form__subscribe-label {
        padding-inline: 0px;
        margin: 5px 0 2px 2px;
        label {
          box-sizing: border-box;
          margin-block: 0px;
          font-size: 0.9rem;
          font-weight: 600;
          font-family: sans-serif;
          color: $color-white;
        }
      }
    }
  }
  .button {
    box-sizing: border-box;
    position: relative;
    padding: 7px 60px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Source Code Pro";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    color: $text-color;
    background-color: $btn-color;
    box-shadow: $shadow-color 2px 2px 22px;
    border-radius: 9999px;
    z-index: 0;
    overflow: hidden;
    margin: 7px 5px;
  }

  button:focus {
    outline-color: transparent;
    box-shadow: $btn-color 2px 2px 22px;
  }

  .right::after,
  button::after {
    content: "Avançar";
    display: block;
    position: absolute;
    white-space: nowrap;
    padding: 38px 79.9px;
    pointer-events: none;
  }

  button::after {
    font-weight: 200;
    top: -30px;
    left: -20px;
  }

  .right,
  .left {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .right {
    left: 66%;
  }
  .left {
    right: 66%;
  }
  .right::after {
    top: -30px;
    left: calc(-66% - 20px);

    background-color: $bg-color;
    color: transparent;
    transition: transform 0.4s ease-out;
    transform: translate(0, -90%) rotate(0deg);
  }

  button:hover .right::after {
    transform: translate(0, -47%) rotate(0deg);
  }

  button .right:hover::after {
    transform: translate(0, -50%) rotate(-7deg);
  }

  button .left:hover ~ .right::after {
    transform: translate(0, -50%) rotate(7deg);
  }

  /* bubbles */
  button::before {
    content: "";
    pointer-events: none;
    opacity: 0.6;
    background: radial-gradient(
        circle at 20% 35%,
        transparent 0,
        transparent 2px,
        $text-color 3px,
        $text-color 4px,
        transparent 4px
      ),
      radial-gradient(
        circle at 75% 44%,
        transparent 0,
        transparent 2px,
        $text-color 3px,
        $text-color 4px,
        transparent 4px
      ),
      radial-gradient(
        circle at 46% 52%,
        transparent 0,
        transparent 4px,
        $text-color 5px,
        $text-color 6px,
        transparent 6px
      );

    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 5s linear infinite both;
  }

  @keyframes bubbles {
    from {
      transform: translate();
    }
    to {
      transform: translate(0, -66.666%);
    }
  }
}
