$bg-black: #121212;
$color-b3: #b3b3b3;
$color-24: #242424;
$color-white: #fff;
$color-black: #000;
$text-color: hsla(210, 50%, 85%, 1);
$shadow-color: hsla(210, 40%, 52%, 0.4);
$btn-color: #1ed760;
$bg-color: #141218;
