@import "styles/variaveis";
@import "styles/breakpoints";

.playlist__container {
  height: 61.5vh;
  padding-top: 16px;
  margin: 10px;
  border-radius: 10px;
  background-color: #121212;
  max-width: 80vw;
  margin-left: 330px;
  margin-right: 15px;
  max-width: 90vw;

  .playlist {
    margin: 24px;

    .greeting {
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 48px;
    }

    .session {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .scroll__container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;

    /* .offer__list {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 16px;
      gap: 16px;
      margin-bottom: 16px;
      margin: 0 auto;
    } */
  }
  .scroll__container::-webkit-scrollbar {
    width: 1px;
  }
  .scroll__container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

@include breakpoint(desktop-only){
  
}

@include breakpoint(tablet-only){
  
}

@include breakpoint(mobile-only){
  .playlist__container {
    height: 100vh;
    margin: 10px auto;
    padding: auto;
    

    .scroll__container {
      max-height: 100vh;
      margin: 30px 40px;
  }
  }
}