@import "styles/variaveis";
@import "styles/breakpoints";


.header__search {
  display: flex;
  align-items: center;
  width: 364px;
  height: 45px;
  margin-left: 8px;
  background-color: $color-24;
  border-radius: 500px;
  border: 1px solid transparent;

  img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }

  input {
    background: transparent;
    border: none;
    color: $color-white;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
    outline: none;
    padding: 0px 100px 0 12px;
  }
}
.header__search:hover {
  border: 1px solid $color-white;
}

@include breakpoint(tablet-only) {
  .header__search {
    width: 200px ;
    overflow: hidden;
    margin-right: 1px;
    margin-left: 10px;
  }
}

@include breakpoint(mobile-only) {
  .header__search {
    width: 9.5rem;
    overflow: hidden;
    margin-right: 1px;
    margin-left: 1px;

    img {
      display: none;
    }
  }
}