@import "styles/variaveis";
@import "styles/breakpoints";

.subscribe {
  box-sizing: border-box;
  background-color: #121212;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-bottom: 0px;

  .container__subscribe {
    box-sizing: content-box;
    padding: 5px 32px;
    width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header__subscribe {
      margin-bottom: 1px;
      text-align: center;

      h1 {
        box-sizing: border-box;
        margin-block: 0px;
        font-size: 2rem;
        font-weight: 900;
        font-family: sans-serif, Arial, Helvetica, "Lucida Grande", Verdana;
        color: white;
      }
    }
  }
}

@include  breakpoint(mobile-only) {
  .subscribe {

    .container__subscribe {
    overflow: hidden;
    margin-bottom: 20px;
    }
  }}