@import "styles/variaveis";

.container-card {
  display: flex;
  place-items: center;
  gap: 16px;
  margin: 10px;
}
.card {
  background-color: rgb(59, 59, 59);
  display: flex;
  flex-direction: column;
  width: 13rem;
  border-radius: 0.3rem;
  padding: 1rem;
  position: relative;
  transition: all 0.4s;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
  }

  .card__text {
    margin-top: 1rem;
    line-height: 1;

    a {
      text-decoration: none;
    }
    h2 {
      font-size: 1.2rem;
      color: $color-white;
    }

    span {
      font-size: 1rem;
      margin-top: 0.5rem;
      font-weight: 500;
      color: gray;
    }
  }

  .play__icon {
    position: absolute;
    top: 44%;
    right: 10%;
    transform: translateY(10px);
    filter: drop-shadow(0 0.8rem 1.5rem rgba(0, 0, 0, 0.4));
    opacity: 0;
    transition: all 0.4s;

    .play__circle {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: rgb(50, 233, 50);
      display: grid;
      place-items: center;
      transform: scale(0.95);
      opacity: 0.9;
    }

    .triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 1% solid transparent;
      border-right: 10% solid transparent;
      border-bottom: 18px solid black;
      transform: rotate(1deg);
      margin-right: 0.7rem;
    }
  }

  .play__icon:hover .play__circle {
    cursor: auto;
    transform: scale(1.2);
  }
}
.card:hover .play__icon {
  opacity: 1;
}

.card--active {
  display: none;
}