@import "styles/variaveis";

.container-card {
  display: flex;
  place-items: center;
  gap: 16px;
  margin: 10px;
}
.card {
  background-color: rgb(59, 59, 59);
  display: flex;
  flex-direction: column;
  width: 13rem;
  border-radius: 0.3rem;
  padding: 1rem;
  position: relative;
  transition: all 0.4s;
  cursor: pointer;

  
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
  }

  .card__text {
    margin-top: 1rem;
    line-height: 1;
    
    a {
      text-decoration: none;
    }
    h2 {
      font-size: 1.2rem;
      color: $color-white;
    }
    
    span {
      font-size: 1rem;
      margin-top: 0.5rem;
      font-weight: 500;
      color: gray;
    }
  }

  .play__icon {
    position: absolute;
    top: 44%;
    right: 10%;
    transform: translateY(10px);
    filter: drop-shadow(0 0.8rem 1.5rem rgba(0, 0, 0, 0.4));
    opacity: 0;
    transition: all .4s;


    .play__circle {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: rgb(50,233,50);
      display: grid;
      place-items: center;
      transform: scale(0.95);
      opacity: .9;
    }

    .triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 1% solid transparent;
      border-right: 10% solid transparent;
      border-bottom: 18px solid black;
      transform: rotate(1deg);
      margin-right: 0.7rem;
    }
  }

  .play__icon:hover .play__circle {
    cursor: auto;
    transform: scale(1.2);
  }
 
  }
.card:hover .play__icon {
  opacity: 1;
}

.card--active {
  display: none;
}

/* 
.grid__container {
    grid-gap: 24px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    min-width: 767px;

    .artist__card {
      background: #181818;
      border-radius: 8px;
      -ms-flex: 1;
      flex: 1;
      isolation: isolate;
      padding: 16px;
      position: relative;
      transition: background-color 0.3s ease;
      width: 100%;

      .card__img {
        padding-bottom: 100%;
        position: relative;
        width: 100%;
        margin-bottom: 16px;

        .artist__img {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          border-radius: 50%;
        }

        .play {
          position: relative;

          .fa__play {
            position: absolute;
            right: 20px;
            top: 210px;
            padding: 40px;
            background-color: #1db954;
            border-radius: 100%;
            font-size: 14px;
            opacity: 0;
            transition: all ease 0.4s;
          }

          .fa__play:hover {
            opacity: 0.9;
            transform: translateY(-20px);
            padding: 25px;
            cursor: pointer;
          }
        }
      }
      .card__text {
        display: flex;
        flex-direction: column;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 62px;

        a {
          display: inline-block;
          max-width: 100%;
          vertical-align: middle;
          display: flex;
          flex-direction: column;
          text-decoration: none;
          color: $color-white;

          .artist__name {
            box-sizing: border-box;
            margin-block: 0px;
            font-size: 20px;
            font-weight: 700;
            padding-block-end: 8px;
          }

          .artist__categorie {
            color: #6a6a6a;
            font-weight: 400;
            font-size: 0.875rem;
          }
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .artist__card:hover {
      background-color: #252525;
      opacity: 1;
    }
  } */